.header{
    background-color: lavender;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.header span:nth-child(3){
    margin-right: 10px;
}
/*导航条*/
.navbar{
    background-color: lemonchiffon;
    margin-top: 50px;
    /*不换行*/
    white-space:nowrap;
    /*水平滚动条*/
    overflow-x: scroll;
    line-height: 50px;
}
.navbar ul{
    padding: 0px;
    margin-bottom: 0px;
    /*设为弹性盒子*/
    display: flex;
}
.navbar ul::after{
    display: block;
    content: ' ';
    visibility: hidden;
    height: 0px;
    clear: both;
   
}
.navbar ul li{
    float: left;
    list-style: none;
    margin:0px 10px;
}
.navbar ul li a{
    color:black;
}
.navbar ul li a:hover{
    text-decoration: none;
}
/*手机电话卡*/
.shouji{
    overflow: hidden;
}
.shouji .left{
    float: left;
    width: 20%;
    margin-left: 5%;
}
.shouji .middle{
    float: left;
    width: 20%;
    margin: 0px calc(30% / 2);
}
.shouji .right{
    float: right;
    width: 20%;
    margin-right: 5%;
}
.shouji figure{
    margin-bottom: 20px;
}

/*底部导航条*/
.mynav span h6{
    margin:0px 0px 10px;
}
.mynav span{
    line-height: 30px;
}
.mynav a{
    color: gray;
}